@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap'); //raleway//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); //poppins//
*{
    margin: 0;
    padding: 0;
}
body{
    color: #78A554;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    margin-top: 19px;
    width: 1250px;
    .logo{
        height: 40px;
    }
    ul{
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 390px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.bg-deco{
    position: absolute;
    top: 0;
    left: 0;
    height: 95vh;
    z-index: -1;
}
form{
    margin-top: 30px;
    width: 45%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: black;
    label{
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    input{
        width: calc(603px-40px);
        height: 50px;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid black;
        padding-left: 40px;
    }
    textarea{
        width: 603px;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid black;
    }
}
.submit-btn{
    width: 603px;
    height: 50px;
    display: flex;
    background-color: #78A554;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid gray;
    margin-top: 20px;
}
footer{
    margin-top: 25px;
}