@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap'); //raleway//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); //poppins//
*{
    margin: 0;
    padding: 0;
}
body{
    color: #78A554;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    margin-top: 19px;
    width: 1250px;
    .logo{
        height: 40px;
    }
    ul{
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 390px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.bg-deco{
    position: absolute;
    top: 0;
    left: 0;
    height: 95vh;
    z-index: -1;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 65px;
        text-align: center;
        color: black;
        span{
           font-weight: 600;
           color: #588535;
        }
    }
    .plants{
        margin-top: 120px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 1100px;
        font-family: 'Poppins', sans-serif;
        .box{
            background-color: #588535;
            border-radius: 20px;
            width: 340px;
            height: 254px;
            transform-origin: 50% 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            transition: all 500ms;
        }
        .box:hover{
            transform-origin: 50% 100%;
            transform: scale(1.08);
        }
        h1{
            color: white;
            font-size: 40px;
            line-height: 48px;
            margin-left: 29px;
            width: 150px;
            text-align: center;
            margin-top: 50px;
        }
        p{
            width: 200px;
            margin-left: 29px;
            color: white;
            text-align: left;
            font-size: 20px;
            line-height: 24px;
            margin-top: 10px;
        }
        a{
            width: 120px;
            background-color: #fff;
            height: 40px;
            color: black;
            text-decoration: none;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .indoor{
            position: relative;
            .description{
                width: 100%;
            }
            img{
                position: absolute;
                height: 300px;
                right: -50px;
                bottom: 50px;
                filter: saturate(160%) brightness(110%);
            }
        }
        .outdoor{
            position: relative;
            .description{
                width: 100%;
            }
            img{
                position: absolute;
                right: -40px;
                bottom: 100px;
                transform: scale(1.1);
                filter: saturate(160%) brightness(110%);
            }
        }
        .artificial{
            position: relative;
            .description{
                width: 100%;
            }
            img{
                position: absolute;
                right: -50px;
                bottom: 90px;
                filter:brightness(110%);
            }
        }
    }
}